.DS_Store
__pycache__
env
env/lib/python3.12/site-packages/llvmlite/binding/libllvmlite.so
.cache
.idea/

library.db
library.db-journal
shazam_paper.pdf
paper.pdf

node_modules

# music files
musicdl
.musicdl_env
tracks*
plots_gitig
*.zip
week3tracks*
audio_samples
